<form action="/editCategory" method="post" class="category">
      <h6 class="text-center">Edit category</h6>
    
        {{!-- <label for="exampleInputPassword1" class="form-label text-center">Add product</label> --}}
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control category-add" name="name" value="{{categoryData.name}}" id="exampleInputPassword1">
            <button type="submit" class="category-btn">Edit</button>
        </div>
    
</form>