<!--================login_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back !<br>
                            Please Sign in now</h3>
                        <form class="row contact_form" action="userSignup" method="post"
                            onsubmit="return validate()" id="form">
                            <div class="col-md-12 input-control form-group p_star">
                                <input type="text" class="form-control" id="name" name="name" value=""
                                    placeholder="Username">


                            </div>
                        
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="email">


                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="number" class="form-control" id="phone" name="phone" value=""
                                    placeholder="phone">

                            </div>
                           

                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="confirmPassword" value=""
                                    placeholder="Confirm Password">
                            </div>
                            <div id="error-message" style="color:red" class="text-center login-failed"></div>

                            <div class="col-md-12 form-group">
                                {{!-- <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="selector">
                                    <label for="f-option">Remember me</label>
                                </div> --}}
                            {{#if error}}
                            <div id="error-message" style="color:red" class="text-center">{{error}}</div>
                            {{/if}}
                                <button type="submit" value="submit" class="btn_3">
                                    sign up
                                </button>
                                {{!-- <a class="lost_pass" href="#">forget password?</a> --}}
                            </div>
                        </form>
                          
                        {{!-- ===================================== --}}
                       {{!-- <form class="row contact_form" id="signup-form" action="/signup" method="post" novalidate="">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" value="" placeholder="Username" required="" minlength="3">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" value="" placeholder="Email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="number" name="phone" value="" placeholder="phone number" required="" minlength="10">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password" required="" minlength="6">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                    </div>
                                    <button type="submit" value="submit" style="background-color: #607e85;" class="btn_3">
                                        Register
                                    </button>
                                </div>
                                <p class="text-center fw-bold text-success">                    </p>
                        <p class="text-center fw-bold text-danger"></p>
                            </form>
                       --}}
                        {{!-- ===================================== --}}

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Hello, Friend</h2>
                        <p>To keep connected with us please login with your personal info</p>
                        <a href="/userLogin" class="btn_3">Log in to your account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->
{{!--
<script src="js/custom.js"></script> --}}
{{!-- <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script> --}}