<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
   {{#if user1}}
    {{>userHead}}
   {{/if}}
   {{#if admin1}}
   {{>adminHead}}
   {{/if}}
</head>
<body>
   
    {{#if user}}
    {{>userHeader}}
    {{!-- {{>userJs}} --}}
    {{/if}}
    {{#if admin}}
    {{>adminHeader}}
    {{/if}}
    {{{body}}}

    {{#if user1}}
    {{>userJs}}
    {{/if}}
    {{#if admin1}}
    {{>adminJs}}
    {{/if}}
    {{!--------------------------------------}}
    
    
</body>